AUTH_REALM=JobQueueSystemRealm
AUTH_FRONTEND_CLIENT_ID=replace-me
AUTH_SERVICES_CLIENT_ID=replace-me
AUTH_CLIENT_SECRET=replace-me
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=replace-me
KEYCLOAK_HOSTNAME=http://localhost:8080
POSTGRES_DB=replace-me
POSTGRES_USER=replace-me
POSTGRES_PASSWORD=replace-me
MAX_FILE_SIZE_UPLOAD_IN_BYTES=1073741823
SYNCFUSION_LICENSE_KEY=replace-me