<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JobRepoClientTester.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <JobRepoClientTester.Settings>
            <setting name="JobRepositoryServiceUrl" serializeAs="String">
                <value>https://localhost:7089</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>[REPLACE-ME]</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>[REPLACE-ME]</value>
            </setting>
            <setting name="Realm" serializeAs="String">
                <value>JobQueueSystemRealm</value>
            </setting>
            <setting name="AuthBaseUrl" serializeAs="String">
                <value>http://localhost:8080</value>
            </setting>
        </JobRepoClientTester.Settings>
    </applicationSettings>
</configuration>